
@{
    ViewBag.Title = "Blocked User";
}

<div class="row">
    <div class="col-md-12">
        <h2>If you want to unlock your user click the link below, otherwise comunicate with your admin.</h2>
        
    </div>

    <a href="/BlockedUser/ActivateUser"><input type="button" class="btn btn-primary" value="Unlock User" /></a>

</div>


