@{
    ViewBag.Title = "States and Capitals Quiz";
}

<div class="jumbotron">
    <h1>States and Capitals Quiz</h1>
    <p><a href="~/Dashboard/Index" class="btn btn-primary btn-lg">Try the Quiz</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Are you sure you know all State's Capital?</h2>
        <p>
            Come and try to answer correc all the questions here.
        </p>
    </div>

</div>